html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url('../public/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content-holder {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.zip-search-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-holder {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weather-display {
  display: flex;
}

.day-article {
  margin: 10px;
  text-align: center;
}

article{
  width:150px;
  height: 150px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px black;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input{
  width: 60px;
  border-radius: 5px;
}

h1{
  color:silver;
  text-shadow: 2px 2px 5px black;
}

input, button{
  margin: 5px;
  border-radius: 5px;
  border-color: silver;
  border-style: solid;
  box-shadow: 2px 2px 2px black;
  background-color: rgba(255,255,255,.3);
  padding: 5px;
}

img{
  width:1rem;
  height:1rem;
}

span{
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
}

p{
  margin: 0px;
}